#activitiesContent {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.activityCard {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: #f1f0f0;
	padding: 10px;
	width: calc(((100% - 64px)) / 2);
	min-height: 150px;
	border-radius: 5px;
	border: 1px solid #c0bebe;
}

.activityLeft {
	margin-left: 132px;
}

.activityCard img {
	height: inherit;
	width: 150px;
}

.activityCard #robotName {
	font-size: 15px;
}

.textBlock label {
	font-size: 11px;
}
.progressBar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 14px;

	background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
		conic-gradient(#4caf50 var(--progress-value), #ddd 0);

	transition: background 0.5s ease-in-out;
	position: relative;
}

.progressBar::before {
	content: attr(aria-valuenow) '%';
	position: absolute;
}

/* TaskForm.css ----------------------------------------------------------------------------------*/
#taskForm {
	align-items: center;
	background-color: #f9f9f9;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	z-index: 1;
}

.mapContainerTask {
	height: 600px;
	width: 100%;
	position: relative;
	z-index: 0;
}

.createActivity {
	bottom: 0;
	right: 0;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #c2c2c24a;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 20px;
	color: #4b4b4b;
	font-size: 25px;
	font-weight: bold;
}
.activityInfoBlock {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.activityInfoBlock .textBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#date-start {
	font-size: 13px;
}

#taskForm.opened {
	display: block;
}
#taskForm.closed {
	display: none;
}

.taskParams {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}

.locationHeader {
	display: flex;
	background-color: burlywood;
	padding: 1rem;
	gap: 10px;
	flex-direction: column;
	height: 100vh;
	width: 100px;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	align-items: center;
	text-align: center;
	z-index: -1;
}

/* -------*/
.taskParams__select {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	background-color: #f9f9f9;
}

/* .taskParams__checkbox {
	display: flex;
	align-items: center;
	gap: 10px;
} */

/* .form__button {
	background-color: #007bff;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
} */

.form__button:hover {
	background-color: #0056b3;
}

.routeSelectWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.taskParams__checkbox input[type='checkbox'] {
	display: none;
}
.taskParams__checkbox input[type='checkbox'] + label {
	display: block;
	position: relative;
	width: 3em;
	height: 1.6em;
	border-radius: 1em;
	background: #e2e2e2;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: background 0.1s ease-in-out;
}
.taskParams__checkbox input[type='checkbox'] + label:before {
	content: '';
	display: block;
	width: 1.2em;
	height: 1.2em;
	border-radius: 1em;
	background: #e84d4d;
	position: absolute;
	left: 0.2em;
	top: 0.2em;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.taskParams__checkbox input[type='checkbox']:checked + label:before {
	background: #47cf73;
	box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
	left: 1.6em;
	-webkit-transform: rotate(295deg);
	transform: rotate(295deg);
}
